/*Siden består af 4 hovedelementer (parents), som indeholder mindre elementer (childs).*/
/*3 af disse hoved-elementer er sticky - dvs. at de bliver siddende på den samme position uanset størrelsen på browser-vinduet */
/*Det element der ikke sidder fast - dvs er dynamisk er Main, hvor alt indholdet kan ændre sig afhængigt af hvor man er på siden*/

*
{
    /*Padding og border vil ikke blive lagt til elementernes størrelse, 
        men i stedet fratrukket. Margin undtaget af denne regel*/
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    color: #D0D6B8;
    line-height: 14pt;
    font-family: Arial;
    font-size: 10pt;
}

h1
{
    font-family: Verdana;
    font-size: 12pt;
    color: #8AB512;
}



body
{
    min-height: 600px;
    /*position: relative;*/
    background-color: #D0D6B8;
    width: 785px;
    margin: auto;
}

#Banner
{
    position: fixed;
    top: 0;
    width: 785px;
    height: 81px;
    background-color: #ffffff;
}


/*Nav----------------------------*/
#NavContainer
{
    position: fixed;
    top: 81px;
    width: 785px;
    height: 40px;
    padding: 14px 6px 0 6px;
    background-color: #ffffff;
}

#Nav
{
    font-family: Verdana;
    font-size: 10pt;
    color: #90918B;
    width: 100%;
    height: 100%;
    background-color: #ECEEE1; /*normal*/
    /*Baggrundsfarve (hover):#DFE7C0;*/
}

    /*--------<Undermenu>-----------*/
    #Nav ul
    {
        padding: 0;
        margin: 0;
        float: left;
    }

        #Nav ul li
        {
            display: block;
            width: 100px;
            height: 26px;
            list-style-type: none;
            float: left;
            text-align: center;
        }

    /*Styler tekst i undermenu*/
    #Nav > ul > li a
    {
        text-decoration: none;
        display: block;
        height: 26px;
        line-height: 26px;
        color: #90918B;
        font-family: Verdana;
    }

        /*Styler baggrundsfarven i hovedmenu-elementer ved hover*/
        #Nav > ul > li a:hover
        {
            background-color: #DFE7C0;
        }

    /*Indstiller undermenuens position*/
    #Nav > ul > li > ul
    {
        /*display: none;*/
        position: absolute;
        left: 6px;
    }

        /*Skjuler undermenuen og arrangerer elementerne på en række og indstiller baggrundsfarven
          i undermenuens elementer (som man ser, når den bliver vist igen ved hover)*/
        #Nav > ul > li > ul > li
        {
            display: none;
            float: left;
            background-color: #F7F8F3;
        }

    /*Viser undermenuen ved hover*/
    #Nav > ul > li:hover > ul li
    {
        display: inline-block;
    }

    /*Styler tekststørrelsen i undermenuen*/
    #Nav > ul > li > ul > li a
    {
        font-size: 8pt;
    }

        /*Styler baggrundsfarven i undermenuens element ved hover*/
        #Nav > ul > li > ul > li a:hover
        {
            background-color: #ECEEE1;
        }


/*Main-----------------------------*/

#Main
{
    top: 121px;
    position: absolute;
    z-index: -1;
    width: 785px;
    padding-top: 50px;
    background-color: #ffffff;
}

/*MainContainer---------------------*/

#MainContainer
{
    padding: 0 6px 0 7px;
}



#Left
{
    width: 171px;
    height: 100%;
    float: left;
    padding: 0 23px 0 0;
}

    #Left ul
    {
        list-style-image: url("../Img/MenuDot.jpg");
    }




#Middle
{
    width: 404px;
    float: left;
}

.HeadersMiddle
{
    font-family: Verdana, sans-serif;
    font-size: 12pt;
    color: #8AB512;
}

#TopH1
{
    margin-top: 4px;
    font-weight: bold;
}

#Right
{
    width: 197px;
    height: 100%;
    float: left;
    padding-left: 24px;
}

/*Mest populære,
sidenavn,
indkøbskurv,
kundel login og
links. (statiske overskrifter)*/

.ChildContainerHeader
{
    font-family: Trebuchet MS;
    font-size: 10pt;
    color: #8AB512;
    border-bottom: 1px #8AB512 dotted;
    margin-bottom: 20px;
}

/*Footer----------------------------*/
#Footer
{
    margin-top: 34px;
    float: left;
    width: 785px;
    height: 27px;
    background-color: rgb(139, 181, 19);
}
